.topNav {
    top: 5dvb;
    background-color: rgba(16, 22, 33, 0.8);
    position: absolute;
    top: 5px;
    background-color: rgba(16, 22, 33, 0.6);
    height: 110px;
    box-shadow: 20px 10px 10px rgb(50, 49, 58);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
}

ul>li>a>img {
    width: 65%;
    height: auto;
    margin-top: -6%;
}

#a-topNav {
    color: #C5AA66;
}

#a-topNav:hover {
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul>li {
    margin-top: 30px;
    opacity: none;
}

ul>li>a {
    font-size: 20px;
    padding: 40px;
    font-weight: lighter;
    margin-top: 400px;
}